:root {
	--image: ""
}

.tagsCard {
	display: flex;
	flex-direction: row;
}

.ItinerariesList{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-evenly;
	gap: 1rem;

}

div.itemCard {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.itemCard .part-left {
  flex: 2;
}

div.itemCard .part-right {
  flex: 1;
	background-color: rgb(140, 161, 154);
	margin-bottom: 2rem;
	border-radius: 5px;
}

.Itineraries {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 200px;
	align-items: center;
	background-color: #ffffff42;
	aspect-ratio: 1;
	justify-content: space-evenly;
}

/* .Itineraries::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	filter: opacity(.2);
} */
.Itineraries p {
	display: flex;
	flex-direction: column;
}
.Itineraries a {
	text-decoration: none;
}

h1 {
	padding: 2rem;
}

h3 {
	color: white;
}

p {
	color: black;
	text-decoration: none;
}

.wrapper {
	margin: 2rem;
	margin-top: 4rem;
}

.create-btn {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.create-btn:hover {
  background-color: rgb(249,250,251);
}

.create-btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.create-btn:focus-visible {
  box-shadow: none;
}
