.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  height: 3rem;
  background-color: #e09327;
  width: 100%;
  font-size: 1rem;
}

@media (max-width: 414px) {
  .navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 3rem;
    background-color: #ef8630;
    width: 100%;
    font-size: 1.8rem;
  }
}

.navbar-link {
  color: white;
  text-decoration: none;
}

.PreviewPic {
  width: 100px;
}
