nav {
  display: flex;
  flex-direction: row;
  background-color: #e09327;
  width: 100%;
  font-size: 1rem;
  align-items: center;
  justify-content: space-evenly;
}

.navItems {
  color: white;
  text-decoration: none;
  margin: 1.5rem;
}

.search {
  margin: 1.5rem;
}

@media (max-width: 414px) {
  .navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 3rem;
    background-color: #ef8630;
    width: 100%;
    font-size: 1.8rem;
  }
}

.navbar-link {
  color: white;
  text-decoration: none;
}